<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="data:image/png;base64">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('home') }}">Buy Some Skill's</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                    {% if not app.user %}
                        <a class="btn btn-success btn-sm mr-3" href="{{ path('security_registration') }}" role="button">
                            Create an account
                        </a>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-success btn-sm mr-3" href="{{ path('admin') }}" role="button">
                            Admin
                        </a>
                    {% endif %}
                    <a class="d-inline mr-3" href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a class="d-inline mr-3"
                       href="
                        {% if is_granted('ROLE_USER') %}
                        {{ path('app_logout') }}
                        {% else %}
                        {{ path('app_login') }}
                        {% endif %}">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
